<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.samos6"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8"  
        		android:maxSdkVersion="17"
        		android:targetSdkVersion="10"/>

    <application
        android:configChanges="keyboardHidden|orientation"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <activity
            android:name=".MainScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        
        <activity
            android:name=".ListIngredientActivity"
            android:label="Ingredient List" >
        </activity>
        
       <activity
            android:name=".FavoriteRecipesActivity"
            android:label="Your Favorite Recipes" >
        </activity>
        
       <activity
            android:name=".SavedRecipesActivity"
            android:label="Recipes You Saved to Try Later" >
        </activity>
        
        <activity
            android:name=".CreateNewCommentActivity"
            android:label="New Comment" >
        </activity>
        
        <activity
            android:name=".EditCommentActivity"
            android:label="Edit Comment" >
        </activity>
        
        <activity
            android:name=".ListRecipeCommentsActivity"
            android:label="Recipe Comments" >
        </activity>
        
        <activity
            android:name=".CreateRecipeActivity"
            android:label="Edit Recipe" >
        </activity>
        
        <activity
            android:name=".RecipeViewActivity"
            android:label="Recipe Description" >
        </activity>
        
       	<activity
            android:name=".ListRecipeActivity"
            android:label="Recipe List" >
        </activity>
        
        <activity
            android:name=".PantryActivity"
            android:label="Your Pantry" >
        </activity>

        <activity
            android:name=".NewProductActivity"
            android:label="Add New Product" >
        </activity>

        <!-- Edit Product Activity -->
        <activity
            android:name=".EditProductActivity"
            android:label="Edit Product" >
        </activity>
        
        <!-- Edit ingredient Activity -->
        <activity
            android:name=".EditIngredientActivity"
            android:label="Ingredient Data" >
        </activity>
        
                <!-- Edit ingredient Activity -->
        <activity
            android:name=".SearchForRecipeActivity"
            android:label="SearchForRecipeActivity" >
        </activity>
        
        
        
        <!-- Edit ingredient Activity -->
        <activity
            android:name=".trialActivity"
            android:label="trialActivity" >
        </activity>
    </application>

    <!--  Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>